/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  word-break: keep-all;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

body div {
  text-align: left;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Modal Form
 */
.modal-content{
  background-color: #6ba292;
}

.form-group .form-inline i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 70px;
}

.form-group i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 30px;
}

.form-group small {
  /* visibility: hidden; */
  color: red;
  bottom: 0px;
  left: 0px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 5px;
  position: relative;
}

button#submit {
  border: 2px solid;
  width: 100%;
  margin-bottom: 10px;
}

.form-group.success input {
  border: 2px solid green;
}


.form-group.error input {
  border: 2px solid red;
}

.form-group.success i.fa-check-circle {
  visibility: visible;
  color: green;
}

.form-group.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}

.form-group.error small {
  visibility: visible;
  color: red;
  bottom: 0px;
  left: 0px;
}

.form-inline.success i.fa-check-circle {
  visibility: visible;
  color: green;
}

.form-inline.error i.fa-exclamation-circle {
  visibility: visible;
  color: red;
}

div.inner {
  text-align: center;
}
